h1= 'Choose a mode for the aplication'
#content
	nav
		ul
			li 
				a(href="/Password/Client") Client
			li 
				a(href="/Password/Serveur") Serveur
			li 
				a(href="/Password/Cuisinier") Cuisinier
			li 
				a(href="/Password/Manager") Manager
