h1= 'Choose a mode for the aplication'
#content
	nav
		ul
			li 
				a(href="/Password/Client", data-role="button") Client
			li 
				a(href="/Password/Serveur", data-role="button") Serveur
			li 
				a(href="/Password/Cuisinier", data-role="button") Cuisinier
			li 
				a(href="/Password/Manager", data-role="button") Manager
