h1= 'Choose a mode for the aplication'
#content
	nav
		ul(data-role='listview', data-inset='false', data-theme='c', data-dividertheme='b')
			li 
				a(href="/Password/Client") Client
			li 
				a(href="/Password/Serveur") Serveur
			li 
				a(href="/Password/Cuisinier") Cuisinier
			li 
				a(href="/Password/Manager") Manager
