h1= 'Enter the password for ' + type + ' mode'
#content
	#login
		#pwd  ******
		form( method="post", action="#", onsubmit="return false")
			input(type="hidden", id="pwdH", name="password")
			table

				tr
					td 
						button(onclick="tape(7);") 7
					td 
						button(onclick="tape(8);") 8
					td 
						button(onclick="tape(9);") 9
				tr
					td 
						button(onclick="tape(4);") 4
					td 
						button(onclick="tape(5);") 5
					td 
						button(onclick="tape(6);") 6
				tr
					td 
						button(onclick="tape(1);") 1
					td 
						button(onclick="tape(2);") 2
					td 
						button(onclick="tape(3);") 3
				tr
					td
						button.cancel X
					td 
						button(onclick="tape(0);") 0
					td 
						button( type='submit').submit &#x2714;
