h1= 'Choose a mode for the aplication'
#content
	nav
		ul
			li 
				a(href="/Table/1") 
					p Table 1
			li 
				a(href="/Table/1") 
					p Table 2
			br
			li 
				a(href="/Table/1") 
					p Table 3
			br
			li 
				a(href="/Table/1") 
					p Table 4
			li 
				a(href="/Table/1") 
					p Table 5
