#login
	display inline-block
	
	#pwd
		font-size 20px
		height 25px;
		width 200px;
		padding 10px 5px 10px 5px
		text-shadow: 1px 1px 2px lighten(black, 30%)
		border 1px solid black
		margin auto
		overflow hidden
		
	form
		display inline-block
		margin auto
		
		button
			font-size 30px
			padding 4px 15px
		.submit
			color green
		.cancel 
			color red