#login {
  display: inline-block;
}
#login #pwd {
  font-size: 20px;
  height: 25px;
  width: 200px;
  padding: 10px 5px 10px 5px;
  text-shadow: 1px 1px 2px #4d4d4d;
  border: 1px solid #000;
  margin: auto;
  overflow: hidden;
}
#login form {
  display: inline-block;
  margin: auto;
}
#login form button {
  font-size: 30px;
  padding: 4px 15px;
}
#login form .submit {
  color: #008000;
}
#login form .cancel {
  color: #f00;
}
