/* Set up document
-----------------------------------------------------------------------------*/
border-radius()
  border-radius arguments
border-bottom-radius()
  border-bottom-left-radius arguments
  border-bottom-right-radius arguments
border-top-radius()
  border-top-left-radius arguments
  border-top-right-radius arguments
body
  font 62.5%/1.5  Helvetica, Arial, "Lucida Grande", "Lucida Sans", Tahoma, Verdana, sans-serif
  text-align center
  background #000



#wrapper
	margin auto
	display inline-block
	min-width 1000px
	min-height 500px
	background #fff
	padding 20px
	border-bottom-radius 25px 40px
	border-top-radius 25px  40px
	overflow hidden
  
	h1
		text-align center
#content
	display inline-block
	